<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approver station</title>


    <!-- BRING IN STYLES =================================================================================== -->
    <!-- =================================================================================================== -->

            <link rel="stylesheet" href="/public/styles/adminApproverPageStyles/admin_approverPageStyles/2025/21st/adminApproverPageStyles.css">


    <!-- BRING IN STYLES =================================================================================== -->
    <!-- =================================================================================================== -->




    <!-- BRING IN SCRIPTS ================================================================================== -->
    <!-- =================================================================================================== -->



         <!-- NAV BAR SCRIPTS ============================================================================== -->
         <!-- ============================================================================================== -->



         <!-- INTRO SECTION SCRIPTS ======================================================================== -->
         <!-- ============================================================================================== -->

               <script src="/public/scripts/adminApproverPageScripts/admin_approverPageScripts/2025/21st/adminApproverPageScripts.js" defer></script>


    <!-- BRING IN SCRIPTS ================================================================================== -->
    <!-- =================================================================================================== -->


</head>



<body class="bodyControl">

    <div class="mainContentControl">



        <!-- NAV BAR MAIN CONTAINER ======================================================================== -->
        <!-- =============================================================================================== -->


        <!-- NAV BAR MAIN CONTAINER ======================================================================== -->
        <!-- =============================================================================================== -->





        <!-- APPROVER INTRO SECTION CONTENT CONTAINER ====================================================== -->
        <!-- =============================================================================================== -->

                <div class="hpApproverIntroSection">





                    <!-- APPROVER MAIN BRANCHES SECTION ==================================================== -->
                    <!-- =================================================================================== -->

                            <div class="hpApproverMainBranchesSectionContentContainer">

                                <div class="hpApproverMainBranchesSectionContentResizer">
                                
                                    <!-- APPROVER HOME PAGE HEADLINE CONTAINER CONTAINER =================== -->
                                    <!-- =================================================================== -->

                                        <div class="hpApproverMainBranchesSectionHeadlineContainer">
                                            <div class="hpApproverMainBranchesSectionHeadlineActual">
                                                CURRENT PAGE DATA BRANCHES
                                            </div>
                                        </div>
                                
                                    <!-- APPROVER HOME PAGE MAIN BRANCH DIVIDER LINE ======================= -->
                                    <!-- =================================================================== -->

                                        <div class="hpApproverMainBranchesSectionDividerLineContainer">
                                            <div class="hpApproverMainBranchestSectionDividerLineActual">
                                            </div>
                                        </div>
                                    
                                    <!-- APPROVER HOME PAGE CONTENT CARD CONTAINER ========================= -->
                                    <!-- =================================================================== -->

                                        <div class="hpApproverMainBranchesHomePageCardContainer">
                                            <div class="hpApproverMainBranchesHomePageCardElement">
                                                <div class="hpApproverMainBranchesHomePageCardElementsResizer">


                                                    <div class="hpApproverMainBranchesHomePageCardHeadlineContainer">
                                                        <div class="hpApproverMainBranchesHomePageCardHeadlineActual">
                                                            home page data
                                                        </div>
                                                    </div>


                                                    <div class="hpApproverMainBranchesHomePageCardSubHeadlineContainer">
                                                        <div class="hpApproverMainBranchesHomePageCardSubHeadlineActual">
                                                            see all data that makes up the home page in available sections that exist currently on the system.
                                                        </div>
                                                    </div>


                                                    <div class="hpApproverMainBranchesHomePageCardDiscoverButtonContainer">
                                                        <div class="hpApproverMainBranchesHomePageCardDiscoverButtonActual">
                                                            see data
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                </div>

                            </div>





                    <!-- APPROVER CHANGE REQUESTS SECTION ================================================== -->
                    <!-- =================================================================================== -->

                            <div class="hpApproverChangesRequestSectionContentContainer">
                                
                                <!-- APPROVER HOME PAGE CHANGES REQUEST HEADLINE CONTAINER CONTAINER ======= -->
                                <!-- ======================================================================= -->

                                    <div class="hpApproverChangesRequestSectionHeadlineContainer">
                                        <div class="hpApproverChangesRequestSectionHeadlineActual">
                                            NEW CHANGE REQUESTS
                                        </div>
                                    </div>
                                
                                <!-- APPROVER HOME PAGE CHANGES REQUEST DIVIDER LINE ======================= -->
                                <!-- ======================================================================= -->

                                    <div class="hpApproverChangesRequestSectionDividerLineContainer">
                                        <div class="hpApproverChangesRequestSectionDividerLineActual">
                                        </div>
                                    </div>
                                
                                <!-- APPROVER HOME PAGE CHANGES REQUEST CONTENT SLIDER CONTAINER =========== -->
                                <!-- ======================================================================= -->

                                    <div class="hpApproverChangesRequestSectionContentAndReviewContainer">
                                        <div class="hpApproverChangesRequestSectionContentAndReviewSlider">

                                            <!-- ALL REQUESTS CARDS CONTENT SIDE =========================== -->
                                            <!-- =========================================================== -->

                                                <div class="hpApproverChangesRequestSectionContentSideContainer">
                                                    <div class="hpApproverChangesRequestSectionContentSideResizer">

                                
                                                        <!-- APPROVER HOME PAGE CHANGES REQUEST CONTENT CARD -->
                                                        <!-- =============================================== -->

                                                            <div class="hpApproverChangesRequestCardContainer">
                                                                <div class="hpApproverChangesRequestCardElement">
                                                                    <div class="hpApproverChangesRequestCardElementsResizer">


                                                                        <div class="hpApproverChangesRequestCardHeadlineContainer">
                                                                            <div class="hpApproverChangesRequestCardHeadlineActual">
                                                                                REQUEST FOR HOME INTRO SECTION
                                                                            </div>
                                                                        </div>


                                                                        <div class="hpApproverChangesRequestCardRequesterDetailsContainer">
                                                                            <div class="hpApproverChangesRequestCardRequesterDepartmentHeadlineActual">
                                                                                From: Department
                                                                            </div>
                                                                            <div class="hpApproverChangesRequestCardRequesterIndividualHeadlineActual">
                                                                                By: That person
                                                                            </div>
                                                                            <div class="hpApproverChangesRequestCardRequesterDateHeadlineActual">
                                                                                On: This date
                                                                            </div>
                                                                        </div>


                                                                        <div class="hpApproverChangesRequestCardSeeRequestButtonContainer">
                                                                            <div class="hpApproverChangesRequestCardSeeRequestButtonActual">
                                                                                see request
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                            </div>


                                                    </div>
                                                </div>

                                            <!-- VIEW REQUEST CONTENT SIDE ================================= -->
                                            <!-- =========================================================== -->

                                                <div class="hpApproverChangesRequestSectionReviewSideContainer">
                                                    <div class="hpApproverChangesRequestSectionReviewSideResizer">

                                
                                                        <!-- APPROVER HOME PAGE CHANGES REQUEST REVIEW PAGE  -->
                                                        <!-- =============================================== -->

                                                            <!-- PAGE BACK BUTTON ========================== -->
                                                            <!-- =========================================== -->

                                                                <div class="hpApproverChangesRequestSectionReviewSideBackButtonContainer">
                                                                    <div class="hpApproverChangesRequestSectionReviewSideBackButtonElement">
                                                                        <div class="hpApproverChangesRequestSectionReviewSideBackButtonIconMover">

                                                                            <div class="hpApproverChangesRequestSectionReviewSideBackButtonIconLineOne">
                                                                            </div>
                                                                            <div class="hpApproverChangesRequestSectionReviewSideBackButtonIconLineTwo">
                                                                            </div>
                                                                            <div class="hpApproverChangesRequestSectionReviewSideBackButtonIconLineThree">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            <!-- REVIEW CONTENT BLOCK ====================== -->
                                                            <!-- =========================================== -->

                                                                <div class="hpApproverChangesRequestSectionReviewSideContentContainer">

                                                                    <!-- REVIEW CONTENT HEADLINER ========== -->
                                                                    <!-- =================================== -->

                                                                        <div class="hpApproverChangesRequestSectionReviewSideHeadlinerContainer">
                                                                            <div class="hpApproverChangesRequestSectionReviewSideHeadlinerActual">
                                                                                REQUEST FOR HOME INTRO SECTION
                                                                            </div>
                                                                        </div>

                                                                    <!-- REVIEW CONTENT CHANGES BLOCKS ===== -->
                                                                    <!-- =================================== -->

















                                                                        <!-- REVIEW CONTENT BG BLOCK ======= -->
                                                                        <!-- =============================== -->

                                                                            <div class="hpApproverChangesRequestSectionReviewSideBackgroundChangeContainer">

                                                                                <div class="hpApproverChangesRequestSectionReviewSideBackgroundChangeHeadlinerContainer">
                                                                                    <div class="hpApproverChangesRequestSectionReviewSideBackgroundChangeHeadlinerActual">
                                                                                        main background
                                                                                    </div>
                                                                                </div>

                                                                                <div class="hpApproverChangesRequestSectionReviewSideBackgroundChangeActualContainer">

                                                                                    <!-- PREVIOUS BACKGROUND IMAGE BLOCK -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSidePreviousBackgroundChangeTagElementContainer">

                                                                                            <!-- PREVIOUS TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideBackgroundPreviousTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideBackgroundPreviousTagActual">
                                                                                                        previous
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- IMAGE TAG ============= -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideBackgroundPreviousImageContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideBackgroundPreviousImageActual">
                                                                                                    </div>
                                                                                                </div>

                                                                                        </div>





                                                                                    <!-- PORPOSED BACKGROUND IMAGE BLOCK -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSideProposedBackgroundChangeTagElementContainer">

                                                                                            <!-- PROPOSED TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideBackgroundProposedTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideBackgroundProposedTagActual">
                                                                                                        proposed
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PROPOSED IMAGE TAG ==== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideBackgroundProposedImageContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideBackgroundProposedImageActual">
                                                                                                    </div>
                                                                                                </div>

                                                                                        </div>
                                                                                    
                                                                                </div>
                                                                            </div>















                                                                    

                                                                        <!-- REVIEW CONTENT SECTION DIVIDER  -->
                                                                        <!-- =============================== -->

                                                                            <div class="hpApproverChangesRequestSectionReviewSideContentDividerContainer">
                                                                                <div class="hpApproverChangesRequestSectionReviewSideContentDividerActual">
                                                                                </div>
                                                                            </div>

















                                                                        <!-- REVIEW CONTENT HEADLINER BLOCK  -->
                                                                        <!-- =============================== -->

                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerChangeContainer">

                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerChangeHeadlinerContainer">
                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerChangeHeadlinerActual">
                                                                                        main headliner
                                                                                    </div>
                                                                                </div>

                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerChangeActualContainer">

                                                                                    <!-- PREVIOUS HEADLINER BLOCK ====== -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSidePreviousMainHeadlinerChangeTagElementContainer">

                                                                                            <!-- PREVIOUS TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousTagActual">
                                                                                                        previous
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PREVIOUS HEADLINE TEXT TAG -->
                                                                                            <!-- ========================== -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousTextBoxTagContainer">

                                                                                                    <!-- PROPOSED ENGLISH TAG -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousEnglishContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousEnglishContentTextTag">
                                                                                                                english
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousEnglishContentInputBoxTag">
                                                                                                                previous headline change english
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    <!-- PROPOSED ARABIC TAG  -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousArabicContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousArabicContentTextTag">
                                                                                                                arabic
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerPreviousArabicContentInputBoxTag">
                                                                                                                previous headline change arabic
                                                                                                            </div>
                                                                                                        </div>

                                                                                                </div>

                                                                                        </div>





                                                                                    <!-- PORPOSED HEADLINER BLOCK ====== -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSideProposedMainHeadlinerChangeTagElementContainer">

                                                                                            <!-- PROPOSED TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedTagActual">
                                                                                                        proposed
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PROPOSED HEADLINE TEXT TAG -->
                                                                                            <!-- ========================== -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedTextBoxTagContainer">

                                                                                                    <!-- PROPOSED ENGLISH TAG -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedEnglishContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedEnglishContentTextTag">
                                                                                                                english
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedEnglishContentInputBoxTag">
                                                                                                                proposed headline change english
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    <!-- PROPOSED ARABIC TAG  -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedArabicContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedArabicContentTextTag">
                                                                                                                arabic
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedArabicContentInputBoxTag">
                                                                                                                proposed headline change arabic
                                                                                                            </div>
                                                                                                        </div>

                                                                                                </div>

                                                                                        </div>
                                                                                    
                                                                                </div>
                                                                            </div>















                                                                    

                                                                        <!-- REVIEW CONTENT SECTION DIVIDER  -->
                                                                        <!-- =============================== -->

                                                                            <div class="hpApproverChangesRequestSectionReviewSideContentDividerContainer">
                                                                                <div class="hpApproverChangesRequestSectionReviewSideContentDividerActual">
                                                                                </div>
                                                                            </div>

















                                                                        <!-- REVIEW CONTENT HEADLINER BLOCK  -->
                                                                        <!-- =============================== -->

                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerChangeContainer">

                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerChangeHeadlinerContainer">
                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerChangeHeadlinerActual">
                                                                                        main headliner
                                                                                    </div>
                                                                                </div>

                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerChangeActualContainer">

                                                                                    <!-- PREVIOUS HEADLINER BLOCK ====== -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSidePreviousMainSubHeadlinerChangeTagElementContainer">

                                                                                            <!-- PREVIOUS TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousTagActual">
                                                                                                        previous
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PREVIOUS HEADLINE TEXT TAG -->
                                                                                            <!-- ========================== -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousTextBoxTagContainer">

                                                                                                    <!-- PROPOSED ENGLISH TAG -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousEnglishContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousEnglishContentTextTag">
                                                                                                                english
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousEnglishContentInputBoxTag">
                                                                                                                previous headline change english
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    <!-- PROPOSED ARABIC TAG  -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousArabicContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousArabicContentTextTag">
                                                                                                                arabic
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainSubHeadlinerPreviousArabicContentInputBoxTag">
                                                                                                                previous headline change arabic
                                                                                                            </div>
                                                                                                        </div>

                                                                                                </div>

                                                                                        </div>





                                                                                    <!-- PORPOSED HEADLINER BLOCK ====== -->
                                                                                    <!-- =============================== -->

                                                                                        <div class="hpApproverChangesRequestSectionReviewSideProposedMainSubHeadlinerChangeTagElementContainer">

                                                                                            <!-- PROPOSED TAG ========== -->
                                                                                            <!-- ======================= -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedTagContainer">
                                                                                                    <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedTagActual">
                                                                                                        proposed
                                                                                                    </div>
                                                                                                </div>

                                                                                            <!-- PROPOSED HEADLINE TEXT TAG -->
                                                                                            <!-- ========================== -->

                                                                                                <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedTextBoxTagContainer">

                                                                                                    <!-- PROPOSED ENGLISH TAG -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedEnglishContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedEnglishContentTextTag">
                                                                                                                english
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedEnglishContentInputBoxTag">
                                                                                                                proposed headline change english
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    <!-- PROPOSED ARABIC TAG  -->
                                                                                                    <!-- ==================== -->

                                                                                                        <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedArabicContentContainer">
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedArabicContentTextTag">
                                                                                                                arabic
                                                                                                            </div>
                                                                                                            <div class="hpApproverChangesRequestSectionReviewSideMainHeadlinerProposedArabicContentInputBoxTag">
                                                                                                                proposed headline change arabic
                                                                                                            </div>
                                                                                                        </div>

                                                                                                </div>

                                                                                        </div>
                                                                                    
                                                                                </div>
                                                                            </div>

                                                                </div>


                                                    </div>
                                                </div>

                                        </div>
                                    </div>






                            </div>





                </div>

        <!-- INTRO SECTION CONTENT CONTAINER =============================================================== -->
        <!-- =============================================================================================== -->



    </div>
    
</body>



</html>